<%- include('../base') -%>

<header>
  <span>Inventory application</span>
  <div class="nav-links">
    <a class="nav" href="/">Home</a>
    <a class="nav" href="/items/new">New</a>
    <div class="dropdown">
      <ul>
        <li><a href="/categories/electronics">Electronics</a></li>
        <li><a href="/categories/art">Art</a></li>
      </ul>
    </div>
  </div>
</header>

<main>