<%- include('../base') -%>

<header>
  <span>LOGO</span>
  <div class="nav-links">
    <a class="nav" href="/">Home</a>
    <a class="nav" href="/">New</a>
    <a class="nav" href="/">Review</a>
  </div>
</header>

<main>