<%- include('../partials/header') %>

<h1><%= category %></h1>

<div class="item-container">
  <% items.forEach((item) => { %>
  <div class="card">
    <h3><%= item.name %></h3>
  </div>
  <% }); %>
</div>

<%- include('../partials/footer') %>