<%- include('../partials/header') %>

<div class="item-container">
  <% items.forEach((item) => %>
  <div class="card">
    <%= item.name %>
  </div>
  <% ) %>
</div>

<%- include('../partials/footer') %>